@import "theme";
@import "slider";
@import "sidebar";
@import "cartypeitem";

.app {
  @include flexCenter('row');
  height: 100vh !important;

  .container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh !important;
  }

  .rightContentContainer {
    display: flex;
    flex: 1;
    //background-color: pink;
  }

  @media only screen and (max-width: 768px) {
    .rightContentContainer {
      display: flex;
      flex-direction: column;
    }
  }
}






