@import "theme";

.overlayContainer {
  display: flex;
  flex: 1;
  color: white;
  position: relative;
  padding: 40px;

  .crossContainer {
    position: absolute;
    right: 100px;
    top: 60px;

    * {
      font-size: 24px;
    }

    :hover {
      cursor: pointer;
    }
  }

  h1{
    margin-left: 20px;
  }
}
