@import "theme";

.searchDealerContainer {
  display: flex;
  padding: 10px;
  flex: 1;
  flex-direction: column;
  // align-items: flex-start;
  overflow-y: auto;

  .headingContainer {
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: lighter;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .stateContainer {
      flex: 1;
      display: flex;
      background-color: $primary;
      //height: 48px;
      border-radius: 3px;
      color: #757575;
      padding: 9px 0px 9px 10px;
      flex-direction: row;
      align-items: center;

      * {
        margin: 0;
        padding: 0;
      }

      p {
        margin-left: 5px !important;
        font-size: 13.3333px;
      }

      .nameContainer {
        flex: 1;
        display: flex;
      }

      .dropDownButton {
        display: flex;
        border: 0;
        border-left: 1px solid #757575;
        background-color: transparent;
        padding: 0px 10px;

        .arrowIcon {
          font-size: 25px;
          color: #757575;
        }
      }
    }
  }

  .breakLine {
    border-bottom: 1px solid;
    margin: 15px 0;
  }

  .resultsContainer {
    background: #fff;
    flex: 1;
  }
}
