@import "_theme";

.sideBarContainer {
  @include flexCenter();
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 0;
  width: 10% !important;
  min-width: 100px;
  color: $primary;

  div {
    @include flexCenter();
    text-align: center;
  }

  .fontStyle {
    font-size: 20px
  }

  .sidebarItem{
    @include flexCenter();
    margin: 2px;
    align-items: center;
    padding: 15px 0px;

    &:hover{
      cursor: pointer;
    }
  }

  h6{
    @include cleanExtras();
    margin: 7px 0px !important;
  }

  .sidebarLanguageContainer{
    @include flexCenter(row);
    height: 50px;
    padding: 0 20px;

    button{
      //flex:1;
      text-align: center;
      background-color: transparent;
      border: 0;
      color: #000000;
      &:hover{
        cursor: pointer;
      }
      opacity: 1;
    }
    .active *{
      color: $primary !important;
      opacity: .9 !important;
      box-shadow: 0px 2px 5px black;
    }
    .flag{
      height: 20px;
      width: 30px;
      border-radius: 2px;
    }
  }
}
